<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>728942313829-tupd7tgk43g6jr03kp7i80o3o3h2v237.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.728942313829-tupd7tgk43g6jr03kp7i80o3o3h2v237</string>
	<key>API_KEY</key>
	<string>AIzaSyA29fLS7J-73JsgzX9tPVxf6xfhwT10pCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>728942313829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wb.EmberChat</string>
	<key>PROJECT_ID</key>
	<string>emberchat-4d325</string>
	<key>STORAGE_BUCKET</key>
	<string>emberchat-4d325.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:728942313829:ios:f59d2f9b46e88a68</string>
	<key>DATABASE_URL</key>
	<string>https://emberchat-4d325.firebaseio.com</string>
</dict>
</plist>